:root {
  --primary-color: #b6895b;
  --bg: #fffbeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

@font-face {
  font-family: "pecita";
  src: url("../fonts/Pecita.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: auto;
}

html {
  scroll-behavior: smooth;
}

.separator {
  border: none;
  height: 2px;
  background-color: #81818120;
  margin-top: 0;
  margin-bottom: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  border-bottom: 0px solid #ffffff;
  position: fixed;
  flex: wrap;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

/* Navbar saat di-scroll */
.navbar-scroll {
  background-color: rgba(29, 29, 29, 0.761);
  border-bottom: 0px solid #ffffff;
  padding: 1.2rem 7%;
}

.navbar-logo img {
  width: 185px;
  height: auto;
  padding: 2px 12px;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  gap: 30px;
  align-items: center;
}

.navbar-nav a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
}

.navbar-nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

.navbar-nav a:hover::after {
  width: 100%;
  cursor: pointer;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

/*Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fffbeb 1%, rgba(73, 73, 73, 0) 35%);
}
/* Menu Kopi */
.menu-kopi {
  padding: 5rem 7%;
  padding-top: 5%;
  text-align: center;
}

.about-menu-kopi {
  text-align: center;
  margin-bottom: -2%;
}

.about-menu-kopi p {
  text-align: center;
  margin-top: 0%;
  color: #202020;
  font-size: 2rem;
  font-family: "pecita";
}

.about-menu-kopi h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: -10px;
  display: inline-block;
  color: #202020;
}

.menu-kopi .row .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #202020;
}

.menu-kopi .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -2%;
  justify-content: center;
}

.menu-kopi .row .menu-card {
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-kopi .row .menu-card img {
  border-radius: 10%;
  width: 70%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.menu-kopi .row .menu-card:hover img {
  transform: scale(1.05);
}

.menu-kopi .row .menu-card .tooltip {
  position: absolute;
  top: -2%;
  left: 4;
  width: 74%;
  height: 78%;
  background-color: hsl(220, 100%, 32%, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.menu-kopi .row .menu-card:hover .tooltip {
  opacity: 1;
}

.menu-kopi .row .menu-card h3 {
  font-size: 20px;
  font-weight: 600;
  max-width: 150px;
  line-height: 25px;
  margin: auto;
  margin-top: 20px;
  color: #202020;
}

.row .menu-card p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 2px;
  margin: auto 1.3rem;
  margin-top: 10px;
}

/* Menu Non Kopi */
.menu-nonkopi {
  padding: 5rem 7%;
  padding-top: 5%;
  text-align: center;
}

.about-menu-nonkopi {
  text-align: center;
  margin-bottom: -2%;
}

.about-menu-nonkopi p {
  text-align: center;
  margin-top: 0%;
  color: #202020;
  font-size: 2rem;
  font-family: "pecita";
}

.about-menu-nonkopi h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: -10px;
  display: inline-block;
  color: #202020;
}

.menu-nonkopi .row .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #202020;
}

.menu-nonkopi .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -2%;
  justify-content: center;
}

.menu-nonkopi .row .menu-card {
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-nonkopi .row .menu-card img {
  border-radius: 10%;
  width: 70%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.menu-nonkopi .row .menu-card:hover img {
  transform: scale(1.05);
}

.menu-nonkopi .row .menu-card .tooltip {
  position: absolute;
  top: -2%;
  left: 4;
  width: 74%;
  height: 78%;
  background-color: hsl(220, 100%, 32%, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}

.menu-nonkopi .row .menu-card:hover .tooltip {
  opacity: 1;
}

.menu-nonkopi .row .menu-card h3 {
  font-size: 20px;
  font-weight: 600;
  max-width: 150px;
  line-height: 25px;
  margin: auto;
  margin-top: 20px;
  color: #202020;
}

.row .menu-card p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 2px;
  margin: auto 1.3rem;
  margin-top: 10px;
}

/* Menu Jajan */
.menu-jajan {
  padding: 5rem 7%;
  padding-top: 5%;
  text-align: center;
}

.about-menu-jajan {
  text-align: center;
  margin-bottom: -2%;
}

.about-menu-jajan p {
  text-align: center;
  margin-top: 0%;
  color: #202020;
  font-size: 2rem;
  font-family: "pecita";
}

.about-menu-jajan h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: -10px;
  display: inline-block;
  color: #202020;
}

.menu-jajan .row .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #202020;
}

.menu-jajan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -2%;
  justify-content: center;
}

.menu-jajan .row .menu-card {
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-jajan .row .menu-card img {
  border-radius: 10%;
  width: 70%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.menu-jajan .row .menu-card:hover img {
  transform: scale(1.05);
}

.menu-jajan .row .menu-card .tooltip {
  position: absolute;
  top: -2%;
  left: 4;
  width: 74%;
  height: 78%;
  background-color: hsl(220, 100%, 32%, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}

.menu-jajan .row .menu-card:hover .tooltip {
  opacity: 1;
}

.menu-jajan .row .menu-card h3 {
  font-size: 20px;
  font-weight: 600;
  max-width: 150px;
  line-height: 25px;
  margin: auto;
  margin-top: 20px;
  color: #202020;
}

.row .menu-card p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 2px;
  margin: auto 1.3rem;
  margin-top: 10px;
}


/* Footers */
.footers {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
}

.footer-block-two-2 {
  margin-top: 30px;
  flex-direction: row;
  gap: 70px;
  font-size: 14px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.div-block-89 {
  grid-column-gap: 32px;
  grid-row-gap: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.contact {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
}

.contact h2 {
  margin-bottom: 20px;
}

.footer-copyright-2 {
  color: #fff;
}

.footer-title-2 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.footer-bottom-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container-21 {
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.image-41 {
  width: 35%;
  height: auto;
}

.footer-wrapper-two-2 {
  grid-column-gap: 0rem;
  grid-row-gap: 48px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-brand-3 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
  display: flex;
}

.footer-link-two-2 {
  color: #fff;
  margin-top: 0;
  font-family: "poppins", sans-serif;
  line-height: 24px;
  text-decoration: none;
  display: block;
}

.footer-link-two-2::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

.footer-link-two-2:hover::after {
  width: 100%;
}

.footer-link-two-2.w--current {
  display: none;
}

.text-block-70 {
  color: #fff;
  font-size: 14px;
  width: 50%;
  font-family: "poppins";
  line-height: 24px;
}

.footer-social-link-4 {
  margin-top: 0;
  margin-left: 0;
}

.footer-divider-two-2 {
  background-color: #e4ebf3;
  width: 100%;
  height: 0.5px;
  margin-top: 35px;
  margin-bottom: 32px;
}

.footer-social-block-two-2 {
  grid-column-gap: 24px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  width: 28%;
  height: auto;
}

.button {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.button-footer {
  font-size: 16px;
  font-weight: 600;
  max-width: 100%;
  padding: 0;
}

.button-cta .btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  width: 200px;
  background: #ffffff;
  color: rgb(27, 27, 27);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 10px auto;
  transition: 0.3s;
}

.button-cta .btn:hover {
  background: #1300e6;
  color: #fff;
}

/* Media Querys */

/* Laptop */
@media (max-width: 1920px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 2rem;
    font-size: 0.5rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
